<!DOCTYPE html>
<html>
<head>
    <title>Trip Form</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>Trip Form</h1>
    <form th:action="@{/trip/save}" th:object="${trip}" method="post">
        <label>Trip ID: </label>
        <input type="text" th:field="*{id}" />
        <label>Name: </label>
        <input type="text" th:field="*{tripName}" />
        <label>Description: </label>
        <input type="text" th:field="*{tripDescription}" />
        <button type="submit">Save</button>
    </form>
</body>
</html>
